<?xml version="1.0" encoding="UTF-8"?>
<config>        
	<modules>
		<MarioSAM_Enderecos>
			<version>0.3.0</version>
		</MarioSAM_Enderecos>
	</modules>
	<global>
		<models>
			<enderecos>
				<class>MarioSAM_Enderecos_Model</class>
			</enderecos>
		</models>
	</global>
	<adminhtml>
		<translate>
			<modules>
                <enderecos>
                    <files>
                        <default>MarioSAM_Enderecos.csv</default>
                    </files>
				</enderecos>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<enderecos>
					<files>
						<default>MarioSAM_Enderecos.csv</default>
					</files>
				</enderecos>
			</modules>
		</translate>
		<routers>
			<enderecos> 
				<use>standard</use>
				<args>
					<module>MarioSAM_Enderecos</module>
					<frontName>enderecos</frontName>
				</args>
			</enderecos>
		</routers>
	</frontend>
	<default>
		<shipping>
			<autocomplete>
                <habilitar>1</habilitar>
                <base_url>1</base_url>
                <exibir_pais>0</exibir_pais>
			</autocomplete>
		</shipping>
	</default>
</config>
