<?xml version="1.0"?>
<config>
    <modules>
        <Widecommerce_Perguntas>
            <version>1.1.0</version>
        </Widecommerce_Perguntas>
    </modules>
    <frontend>
        <routers>
            <perguntas>
                <use>standard</use>
                <args>
                    <module>Widecommerce_Perguntas</module>
                    <frontName>perguntas</frontName>
                </args>
            </perguntas>
        </routers>
        <layout>
            <updates>
                <perguntas>
                    <file>perguntas.xml</file>
                </perguntas>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <perguntas>
                <use>admin</use>
                <args>
                    <module>Widecommerce_Perguntas</module>
                    <frontName>perguntas</frontName>
                </args>
            </perguntas>
        </routers>
    </admin>
    
    <adminhtml>    
        <menu>
            <perguntas translate="title" module="perguntas">
                <title>Perguntas</title>
                <sort_order>90</sort_order>
                <action>perguntas/adminhtml_perguntas</action>             
            </perguntas>
        </menu>   
        <!--<acl>
            <resources>
                <admin translate="title" module="adminhtml">
                    <children>
                        <perguntas>
                            <title>Criar Pergunta</title>                        	                
                        </perguntas>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <perguntas translate="title">
                                            <title>Criar Pergunta</title>
                                            <sort_order>200</sort_order>
                                        </perguntas>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>	
            </resources>	
        </acl>-->
    </adminhtml>   
    
    <global>
        <models>
            <perguntas>
                <class>Widecommerce_Perguntas_Model</class>
                <resourceModel>perguntas_mysql4</resourceModel>
            </perguntas>
            <perguntas_mysql4>
                <class>Widecommerce_Perguntas_Model_Mysql4</class>
                <entities>
                    <question>
                        <table>widecommerce_perguntas_question</table>
                    </question>
                </entities>
            </perguntas_mysql4>
        </models>
        <resources>
            <perguntas_setup>
                <setup>
                    <module>Widecommerce_Perguntas</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </perguntas_setup>
            <perguntas_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </perguntas_write>
            <perguntas_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </perguntas_read>
        </resources>
        <blocks>
            <perguntas>
                <class>Widecommerce_Perguntas_Block</class>
            </perguntas>
        </blocks>
        <helpers>
            <perguntas>
                <class>Widecommerce_Perguntas_Helper</class>
            </perguntas>
        </helpers>
    </global>
</config>
